<form [formGroup]="form" (ngSubmit)="submitForm($event)">
    <mat-card>
        <mat-card-title>Formulario Empleados</mat-card-title>
        <mat-card-content>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" formControlName="name" autocomplete="off">
                        <mat-error>Este campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Puesto</mat-label>
                        <input matInput type="text" formControlName="role" autocomplete="off">
                        <mat-error>Este campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Salario</mat-label>
                        <input matInput type="number" formControlName="salary" step="1" min="0" autocomplete="off">
                        <mat-error>Este campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha contratación</mat-label>
                        <input matInput type="date" formControlName="hire_date">
                        <mat-error>Este campo es requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Estatus: </label>
                    <mat-radio-group formControlName="status">
                        <mat-radio-button value="1">Activo</mat-radio-button>
                        <mat-radio-button value="0">Inactivo</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-stroked-button color="primary" type="submit" [disabled]="form.invalid" >Guardar</button>
            <button mat-stroked-button color="warn" type="button" (click)="Clear()">Limpiar</button>
            <button mat-stroked-button type="button" routerLink="">Regresar</button>
        </mat-card-actions>
    </mat-card>
</form>
